{% extends 'game/base.html' %}
{% load static %}

{% block title_block %}
    About Dodoko
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">About Dodoko</h1>
        </div>
    </div>
    <div>
        here is ... 
        <br />
        Dodoko is a game communication platform that mainly focuses on providing users with a place to share their game experience and evaluate the games.  ​

According to the user's evaluation, game recommendation lists can be generated. On this platform, users can find the games they want to play in a variety of ways. For example, users can choose the games they are interested in according to their fields of interest, or they can also choose games in the game recommendation list according to the comments of other users. After selecting the target game, users can add it to their favorites. If they want to play in the future, they can find it easily in their favorites at any time. ​

At the same time, the platform will also show users the latest games and information, so that game enthusiasts can master the first-hand information. ​

This platform has a high degree of freedom and can share good games that is popular in specific area or not well-known. 
        <br />
        <br />
        <br />  
        
        <strong>
            This website has been put together by Dodoko Team.
        </strong><br />
        <hr>
        Visits: {{ visits }}
    </div>
    <div>
        <img src="{% static 'images/game.jpg' %}" alt="Picture of game" /> 
    </div>
{% endblock %}