{% extends 'game/base.html' %}
{% load static %}

{% block title_block %}
    Terms
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4" id="bgp_about">
        <div class="container">
            <h1 class="jumbotron-heading">privacy</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <strong>
                            This project is also used by the Glasgow Dodoko team.
                            Private or commercial use is prohibited.
                            Legal rights will be reserved.
                        </strong>
                        <br />
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}